<div class=login>
<h1 class="naslov">
  Prijava
</h1>
<!--
<img width="400" src="https://i.ytimg.com/vi/CZFKWt3S2Ys/maxresdefault.jpg">
-->
<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" name="myForm" #userForm="ngForm">

  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" 
         id="inputEmail" 
         class="form-control" 
         placeholder="E-mail adresa" 
         autofocus 
         formControlName="email"
         name="email"
         >

        <div *ngIf="this.loginForm.get('email').touched">
          <div *ngIf="(this.loginForm.get('email').value == '' || this.loginForm.get('email').value == null)" 
               class="alert alert-danger">Polje email ne može biti prazno!</div>

          <div *ngIf="!this.validmail.test(this.loginForm.get('email').value)
                      && !((this.loginForm.get('email').value == '' || this.loginForm.get('email').value == null))" 
               class="alert alert-danger">Ovo nije validan e-mail!</div>
        </div>



  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Šifra" required formControlName="password">

  <div *ngIf="this.loginForm.get('password').touched">
    <div *ngIf="(this.loginForm.get('password').value == '' || this.loginForm.get('password').value == null)" 
         class="alert alert-danger">Polje šifra ne može biti prazno!</div>
        </div>

  <button class="btn btn-lg btn-primary btn-block" [disabled]="!userForm.form.valid"  type="submit">Prijavi se</button>
</form>


</div>