<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ime</th>
	<th scope="col">Prezime</th>
          <th scope="col">E-mail</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.ime }}</td>
	  <td>{{ user.prezime }}</td>
          <td><a href="mailto:{{ user.mail }}">{{ user.mail }}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
