<div class=adminview>
  <h1 class="naslov">
    Dobrodošao, {{korisnik.ime}}!
  </h1>

  <ul class="text-center list-inline">
    <li class="list-inline-item">
      <a class="button fancy-button" (click)="dodajSkladiste()">Dodaj skladište</a>
    </li>
    <li class="list-inline-item">
      <a class="button fancy-button" (click)="dodajSkladJed()">Dodaj skladišnu jedinicu</a>
    </li>
  </ul>

  <ul class="text-center list-inline">
    <li class="list-inline-item">
      <a class="button fancy-button" (click)="obrisiSkladiste()">Obriši skladište</a>
    </li>
    <li class="list-inline-item">
      <a class="button fancy-button" (click)="obrisiSkladJed()">Obriši  skladišnu jedinicu</a>
      </li>
  </ul>

  <div *ngIf="dodavanjeSklad" class="dodaj">
    <h1 class="naslov">
      Dodaj Skladište
    </h1>
    <form class="form-signin" [formGroup]="forma" (ngSubmit)="postSkladiste(forma.value)">

      <label for="inputAdress" class="sr-only">Adresa</label>
      <input type="text" id="inputAdress" class="form-control" placeholder="Adresa" required autofocus formControlName="adresa">

      <label for="inputKapacitet" class="sr-only">Kapacitet</label>
      <input type="number" min="1" id="inputKapacitet" class="form-control" placeholder="Kapacitet" required autofocus formControlName="kapacitet">
    
      <button class="btn btn-lg btn-primary btn-block" type="submit">Dodaj</button>
    </form>
  </div>

  <div *ngIf="dodavanjeSJed" class="dodaj">
    <h1 class="naslov">
      Dodaj Skladišnu Jedinicu
    </h1>
    <form class="form-signin" [formGroup]="forma2" (ngSubmit)="postSkladJed(forma2.value)">

      <select class="custom-select" formControlName="skladChoose" id="skladChoose">
        <option value="" disabled>Odaberi Skladište</option>
        <option *ngFor="let skladiste of svaSkladista" [ngValue]="skladiste">{{skladiste.adresa}}</option>
      </select>

      <label for="inputBrojJed" class="sr-only">Broj Skladišne Jedinice</label>
      <input type="number" min="1" id="inputBrojJed" class="form-control" placeholder="Broj Skladišne Jedinice" required autofocus formControlName="inputBrojJed">

      <select class="custom-select"  formControlName="tipChoose">
        <option value="" disabled>Odaberi Tip</option>
        <option *ngFor="let tip of sviTipovi" [ngValue]="tip">{{tip.naziv}}</option>
      </select>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Dodaj</button>
    </form>
  </div>

  <div *ngIf="brisanjeSklad" class="dodaj">
    <h1 class="naslov">
      Obriši Skladište
    </h1>
    <form class="form-signin" [formGroup]="forma3" (ngSubmit)="deleteSklad(forma3.value)">

      <select class="custom-select" formControlName="skladChoose" id="skladChoose">
        <option value="" disabled>Odaberi Skladište</option>
        <option *ngFor="let skladiste of svaSkladista" [ngValue]="skladiste">{{skladiste.adresa}}</option>
      </select>

      <button class="btn btn-lg btn-block btn-delete" type="submit">Obriši</button>
    </form>
  </div>
  
  <div *ngIf="brisanjeSJed" class="dodaj">
    <h1 class="naslov">
      Obriši Skladišnu Jedinicu
    </h1>
    <form class="form-signin" [formGroup]="forma4" (ngSubmit)="deleteSJed(forma4.value)">

      <select class="custom-select" formControlName="skladChoose" id="skladChoose" (change)="onChange(forma4.value)">
        <option value="" disabled>Odaberi Skladište</option>
        <option *ngFor="let skladiste of svaSkladista" [ngValue]="skladiste">{{skladiste.adresa}}</option>
      </select>

      <select class="custom-select" formControlName="sjedChoose" id="sjedChoose">
        <option value="" disabled>Odaberi Skladišnu Jedinicu</option>
        <option *ngFor="let jedinica of sveJedinice" [ngValue]="jedinica">{{jedinica.broj}}</option>
      </select>

      <button class="btn btn-lg btn-block btn-delete" type="submit">Obriši</button>
    </form>
  </div>
</div>